<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" id="banner">
			banner
		</div>
		<div class="col-xs-1 " id="teams-picker">
			teams picker<br>
			another line<br>
			and again
		</div>
		<div class="col-xs-2" id="channels">
			div class = "channels"
		</div>
		<div class="col-xs-9" id="chat-pane">
			<div class="row">
				<div class="col-xs-12" id="message-stream">
					TOP OF DIV<br>
					div class = "message-stream"<br>
					1 what happens<br>
					1 when you<br>
					1 have a <br>
					1 lot of<br>
					1 lines of<br>
					1 text<br>
					1 in this<br>
					1 div<br>
					1 ?<br>
					2 what happens<br>
					2 when you<br>
					2 have a <br>
					2 lot of<br>
					2 lines of<br>
					2 text<br>
					2 in this<br>
					2 div<br>
					2 ?<br>
					3 what happens<br>
					3 when you<br>
					3 have a <br>
					3 lot of<br>
					3 lines of<br>
					3 text<br>
					3 in this<br>
					3 div<br>
					3 ?<br>
					4 what happens<br>
					4 when you<br>
					4 have a <br>
					4 lot of<br>
					4 lines of<br>
					4 text<br>
					4 in this<br>
					4 div<br>
					4 ?<br>
					5 what happens<br>
					5 when you<br>
					5 have a <br>
					5 lot of<br>
					5 lines of<br>
					5 text<br>
					5 in this<br>
					5 div<br>
					5 ?<br>
					6 what happens<br>
					6 when you<br>
					6 have a <br>
					6 lot of<br>
					6 lines of<br>
					6 text<br>
					6 in this<br>
					6 div<br>
					6 ?<br>
					BOTTOM OF DIV
				</div>
				<div class="col-xs-12" id="message-create">
					div class = "message-create"
				</div>
			</div>
		</div>
	</div>
</div>