$orange: #BB6F2B;
$dark-brown: #38210D;
$cream: #FAF5F0;

html {
  font-size: 16px;
}
body {
  margin: 0 0 0 0;
  font-family: Factoria;
  font-size: 16px;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px 0 24px;
  box-sizing: content-box;
}

p.bold {
  font-family: Factoria-Bold;
  font-style: bold;
}

p.black {
  font-family: Factoria-Black;
  font-style: black;
}
p.demiitalic {
  font-family: Factoria-Demiitalic;
}


@font-face {
  font-family: "factoria-n2", "factoria", sans-serif;
  font-style: normal;
  font-weight: 200;
}


header {
  background-color: black;
  text-transform: uppercase;
  color: white;
  height: 72px;
}
.jumbo {
  .container {
    padding-top: 44px;
    padding-bottom: 32px;
  }
  margin: 0 0;
  background-color: $dark-brown;
  color: white;
  text-align: center;
  p {
    color: $orange;
    font-weight: 700;
  }
  h1 {
    font-size: 4em;
    text-shadow: .1em .1em .2em black;
    line-height: 1.54em;
    margin-top: 0;
    font-weight: 700;
    .out {
      text-shadow:
        5px 5px 0 $orange,  
        5px -5px 0 $orange,
        -5px 5px 0 $orange,
        -5px -5px 0 $orange,
        -5px 0px 0 $orange,
        5px 0px 0 $orange,
        0px -5px 0 $orange,
        .2em .2em .2em black;
    }
  }
  .meetloaf {
    color: $orange;
    opacity: 0.3;
    font-size: 6em;
    line-height: 1em;
  }
  .special {
    color: $orange;
  }
  .strike {
    text-decoration: line-through;
  }
}



.callout {
  background-color: $orange;
  width: 100%;
  color: white;
  .container {
    padding-top: 14px;  
  }
  p {
    font-size: 1.75em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 3rem;
  }
}

.features {
  background-color: $cream;
  .container {
    padding-top: 31px;
    padding-bottom: 14px;
    margin-bottom: 4px;
  }
  .exclaim {
    display: inline;
    color: $orange;
    font-size: 4em;
    font-weight: 700;
  }
  .comment {
    display: inline-block;
    margin-left: 30px;
    font-size: 1.125rem;
    text-align: right;
    font-weight: 700;
  }
  .item {
    font-size: 2.25em;
    font-weight: bold;
    color: $orange;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 24px;
  }
  .active {
    text-decoration: underline;
  }
  .description {
    background-color: $orange;
    color: $cream;
    line-height: 2.311em;
    padding: 12px 24px;
    margin-left: 72px;
    font-weight: 400;
    .quickhit {
      display: block;
      font-size: 1.25rem;
      font-weight: 700;
      padding-top: 13px;
    }
  }
}
  



.showcase {
  background-color: $dark-brown;
  color: white;
  font-size: 3.4em;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  text-shadow: 5px 5px 4px black;
  line-height: 1.25em;
  .container {
    padding-top: 18px;
  }
  .comment {
    font-weight: 900;
  }
  .emphasis {
    font-size: 6rem;
    font-weight: 100;
    line-height: 1em;
    display: inline-block;
    padding-top: .05em;
  }
}



.calltoaction {
  background-color: $dark-brown;
  color: white;
  font-style: italic;
  text-align: center;
  .container {
    padding-top: 25px;
    padding-bottom: 100px;  
  }
  
  display: block;
  margin: 0 auto;
  a {
    margin-top: 25px;
    display: inline-block;
    &:hover{
      cursor: pointer;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 3rem;
    font-weight: 100;
    margin-top: -10px;
    text-align: center;
  }
  .btn {
    background-color: $cream;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 900;
    color: $orange;
    padding: 8px 35px 5px 35px;
    outline: 5px solid $orange;
  }
  h2 {
    padding-top: 22px;
    padding-bottom: 24px;
    font-weight: 900;
    text-align: center;
    font-size: 3.5em;
    font-weight: 900;
    display: inline-block;
    margin-bottom: -11px;
    vertical-align: middle;
  }
}

.btn-primary {
  background-color: $orange;
  border-color: $dark-brown;
  &:hover {
    background-color: $dark-brown;
    border-color: $orange;
  }
}



.container-fluid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.row {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: content-box;
}
.blahblah {
  background-color: #6699cc;
}
#firechat-wrapper{
  height: 100%;
}

#firechat{
  height: 100%;
  #firechat-tabs{
    min-height: 100%;
  }
  #firechat-tab-content{
    height: 100%;
    .tab-pane{
      height: 100%;
    }
  }  
  .tab-pane{
    height: 100%;
    textarea{
      position: absolute;
      bottom: 0;
    }
  }
}
.chat{
  background-color: #121212;
  height: 100%;
  bottom: 0;
}

.tab-pane-menu{
  .firechat-dropdown-menu, .firechat-dropdown{
    display: none;
  }
}








//building chat from scratch

//functions
$banner-height: 0px;
$message-create-height: 88px; 
$chat-bg: #212121;

@function getchatheight(){
  @return 100vh - get-vh($banner-height) - get-vh($message-create-height);
}

@function getbannerheight(){
  @return get-vh($banner-height);
}

@function getpaneheight(){
  @return 100vh - get-vh($banner-height);
}

@function get-vh($x_px){
  $vh-context: (1000 * .01) * 1px;
  @return ($x_px/$vh-context) * 1vh;
}


#teams-picker, #channels, #chat-pane{
  //make all 3 panes full height but account for the banner height...
  height: getpaneheight();
}


body{
  height: 100vh;
  .container-fluid{
    height: 100vh;
  }
}
#banner{
  background-color: red;
  height: $banner-height;
  z-index: 2;
}
#teams-picker{
  background-color: black;
}
#channels{
  background-color: black;
  li{
    a{
      color: #a1a1a1;
    }
    list-style-type: none;
    height: 24px;
    font-size: 14px;
  }
}
#chat-pane{
  background-color: #121212;
  padding-left: 0;
  padding-right: 0;
  display: table;
  .row{
    display: table-row;
    height: 100%;
    vertical-align: bottom;
    #message-stream, #message-create{
      display: table-cell;
    }
  }
}
#message-stream{
  background-color: #9911cc;
  height: getchatheight();
  max-height: getchatheight();
  overflow-y: scroll;
  position: absolute;
  padding-bottom: $message-create-height;

}
#message-create{
  background-color: #cc0000;
  height: $message-create-height;
  box-sizing: border-box;
  vertical-align: bottom;
  z-index:1;
  position: absolute;
  bottom: 0;
}

.chat{
  overflow-y: scroll;
  max-height: getchatheight();
  padding-bottom: $message-create-height;
}




.messageInputArea{
  display: block;
  background-color: $orange;
  position: absolute;
  bottom: 0;
  height: $message-create-height;
  label{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  textarea{
    height: get-vh(40px);
    width: 500px;
    margin-left: 3vh;
    postion: absolute;
    top: 1vh;
  }
}
.message{
  background-color: #121212;
  color: $orange;
  padding-bottom: 14px;
  margin-left: 20px;
  &:first-child{
    margin-top: 20px;
  }
  .name{
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
  em{
    color: #bbbbbb;
    font-weight: 100;
    font-size: 12px;
  }
  .message-content{
    padding-left: 14px;
  }
}

#firechat-tab-list{
  width: 100%;
  li{
    height: 100%;
    width: 100%;
    margin: 0 0;
    a{
      background-color: black;
      color: #999999;
      margin-right: 0px;
      padding: 4px 15px;
      border-radius: 4px;
    }
  }
  .active{
    background-color: black;
    a{
      background-color: $orange;
      color: white;
      border: 1px solid white;
      font-weight: bold;
    }
  }
  border-bottom: none;
}
